<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Admin/git_repository/tshape.linhpham.1326.unsplashWithFramework/src/test/java/nt/tshape/automation/selenium/TestCase/Unsplash_Auto_Flow_.java">
        <classes>
            <class name="nt.tshape.automation.selenium.TestCase.Unsplash_Auto_Flow_">
                <methods>
                    <include name="Scenario_1_Follow_a_photographer_successfully"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>